[defaults]
inventory             = inventories/prod/hosts.yml
roles_path            = roles
collections_paths     = ~/.ansible/collections
host_key_checking     = True
retry_files_enabled   = False
forks                 = 5
stdout_callback       = yaml
callbacks_enabled     = ansible.posix.profile_tasks, ansible.posix.timer
interpreter_python    = auto_silent
gathering             = smart
fact_caching          = jsonfile
fact_caching_connection = .ansible-cache
fact_caching_timeout  = 7200

[ssh_connection]
pipelining            = True
ssh_args              = -o ControlMaster=auto -o ControlPersist=60s
control_path          = ~/.ansible/cp/%%h-%%p-%%r

[privilege_escalation]
become                = True
become_method         = sudo
become_user           = root
become_ask_pass       = False
